{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="room-container">
  <form action="" method="get" class="room-form">
    <input type="text" name="room_name" placeholder="Enter Room Name">
  </form>
  <div class="room-buttons">
    <!-- Join or Create Room -->
    <form action="" method="get">
      <button type="submit" class="btn btn-primary" name="action" value="join">Join Room</button>
      <button type="submit" class="btn btn-primary" name="action" value="create">Create Room</button>
    </form>
  </div>
</div>
{% endblock %}
