{% extends "base.html" %}
{% load static %}
{% block title %} Messages {% endblock %}

{% block scriptfile %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    // Function to scroll chat container to the bottom
    function scrollToBottom() {
      var chatContainer = document.getElementById("chatContainer");
      chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    // When DOM content is loaded
    document.addEventListener("DOMContentLoaded", function () {
      // Call the scrollToBottom function
      scrollToBottom();

      const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
      // Fetching room name variable
      const roomName = "{{ room_name }}"; 
     // Fetching user variable
      const user = "{{ user }}"; 
      const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/${roomName}/`;
      const socket = new WebSocket(wsEndpoint);

      document.getElementById("message-form").addEventListener("submit", function (event) {
        event.preventDefault();
        const message = document.getElementById("msg").value;

        socket.send(JSON.stringify({
          message: message,
          room_name: roomName,
          sender: user,
        }));

        // Clear the message textarea after sending
        document.getElementById("msg").value = "";
      });

      // Response from server consumer
      socket.addEventListener("message", (event) => {
          const messageData = JSON.parse(event.data)["message"];
          console.log(messageData);

          var sender = messageData["sender"];
          var message = messageData["message"];

          var messageDiv = document.querySelector(".message");
          var newMessageDiv = document.createElement('div');
          if (sender !== user) {
              newMessageDiv.className = "receive";
              newMessageDiv.innerHTML =
                  '<strong style="color: black">-- ' +
                  sender +
                  '</strong><p style="color: #000">' +
                  message +
                  '</p><span style="color: grey; font-size: 0.8em">';
          } else {
              newMessageDiv.className = "send";
              newMessageDiv.innerHTML =
                  '<p style="color: #000">' +
                  message +
                  '<span style="color: grey; font-size: 0.8em; margin-left: 5px;">';
          }

          // Append new message to the top of the chat container
          messageDiv.appendChild(newMessageDiv);
          scrollToBottom();
      });

      socket.onopen = (event) => {
        console.log("WebSocket connection opened!");
      };

      socket.onclose = (event) => {
        console.log("WebSocket connection closed!");
      };
    });
  </script>
{% endblock %}

{% block content %}
<div class="parent">
  <div class="child-2">
    <center><h2 style="color: #fff;">Chats</h2></center>
    <hr />
    <div class="chat-body-parent">
      <div class="chat-body" id="tasks">
        <div class="message" id="chatContainer">
          <!-- Display stored messages in chronological order -->
          {% for message in messages %}
            {% if message.sender != user %}
              <div class="receive">
                <strong style="color: black">{{ message.sender }}</strong>
                <p>{{ message.message }}</p>
              </div>
            {% else %}
              <div class="send" style="background-color: aqua;">
                <p style="color: #000000">{{ message.message }}</p>
              </div>
            {% endif %}
          {% endfor %}
          <!-- End stored messages -->
        </div>

        <div class="form">
          <form action="" id="message-form" method="POST">
            {% csrf_token %}
            <textarea
              id="msg"
              cols="30"
              name="message"
              rows="10"
              placeholder="Enter your message"
              required
            ></textarea>
            <button class="submit" type="submit">Send</button>
          </form>
          <button style="text-transform: none">
            <a href="{% url 'home' %}">Exit Room</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
